img{ 
width:400px;
 border-radius: 8px;
height:200px;
}
table{width: 600px;
height:100px;
font:10px;
}
li{
font-family: Tahoma, Verdana, sans-serif;
font-style:italic;
font-size:30px;
}
table,th,tr,td{
border:1px solid black;
background-color:#96D4D4;
font-family: Tahoma, Verdana, sans-serif;
font-style:italic;
font-size:20px;
}
form.solid {border-style: solid;}
form{

width: 600px;
height:70px;
color:red;
font-size:20px;
}
p{
font-family: Tahoma, Verdana, sans-serif;
font-size:50px;
text-align:center;
}
body{
background-color:LightGrey;
}
a{
color:black;
font-size:30px;
}
h2{
font-size:30px;
}
